<main>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <table class="table table-striped" aria-describedby="table-description">
                    <caption id="table-description">Tableau des catégories avec options de modification et suppression.</caption>
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nom de la catégorie</th>
                            <th scope="col">Modification</th>
                            <th scope="col">Suppression</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each categories}}
                        <tr>
                            <th scope="row">{{id}}</th>
                            <td {{#if isAdmin}} class="fw-bold" aria-label="Nom de la catégorie avec privilège administrateur">
                                <i class="bi bi-shield-lock"></i {{/if}}> {{cat_name}}
                            </td>
                            <td>
                                <a class="btn btn-primary rounded-pill" href="/category/update/{{id}}" aria-label="Modifier la catégorie {{cat_name}}">
                                    <i class="bi bi-arrow-repeat"></i>
                                </a>
                            </td>
                            <td>
                                <form action="/category/delete/{{id}}" method="post">
                                    <button class="btn btn-danger rounded-pill" onclick="return confirm('Voulez-vous vraiment supprimer ?')" type="submit" aria-label="Supprimer la catégorie {{cat_name}}">
                                        <i class="bi bi-trash3"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>