<main>
    <div class="container-fluid">
        <div class="row">
            <h1 class="Knewave text-center" aria-label="Liste des évènements">Evènements</h1>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center mt-3">
                <form action="/event/search" method="post" class="search mb-5" aria-label="Formulaire de recherche d'évènements">
                    <input name="search" id="search" placeholder="Recherche" type="text" value="{{keyword}}" aria-label="Recherche d'évènements">
                    <button type="submit" aria-label="Rechercher">
                        <i class="bi bi-search m-2"></i>Go
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            {{#if events.length}}
            {{#each events}}
            <div class="col-sm-10 col-md-6 col-lg-4">
                <div class="card border-primary mt-3" aria-label="Carte d'évènement">
                    <small>
                        <div class="rounded-pill badge text-bg-primary float-end fs-6">
                            <span>{{'category.cat_name'}}</span>
                        </div>
                    </small>
                    <small>
                        <div class="rounded-pill badge text-bg-info float-end fs-6">
                            <i class="bi bi-geo-alt"></i>
                            <span>{{city}}</span>
                        </div>
                    </small>
                    <div class="card-header">
                        <img src="{{#if event_image }} {{event_image}} {{else}} /images/eventNotFound.png {{/if}}" class="card-img test img-thumbnail imgSize" alt="Image de l'évènement" />
                    </div>
                    <div class="card-body border-success">
                        <h2 class="card-title text-center">{{event_name}}</h2>
                        <h3 class="card-subtitle mb-2 text-body-secondary  text-center">
                            <i class="bi bi-calendar-date"></i> le {{formatDate event_date "DD/MM/YYYY"}} <br> à {{formatTime event_time "HH:mm"}}
                        </h3>
                        <p class="card-text text-truncate text-center">{{event_description}}</p>
                        <p class="card-text text-center fs-5">{{city}}</p>
                        <a href="/event/read/{{id}}" class="card-link btn rounded-pill btn-outline-info m-1" aria-label="Voir l'évènement {{event_name}}">Voir l'évènement</a>
                        {{#if (or @root.isAdmin (eq ../userId userId))}}
                        <a href="/event/update/{{id}}" class="btn rounded-pill btn-warning m-1" aria-label="Modifier l'évènement {{event_name}}">Modifier l'évènement</a>
                        <button type="button" class="btn rounded-pill btn-danger m-1" data-bs-toggle="modal" data-bs-target="#Modal{{id}}" aria-label="Supprimer l'évènement {{event_name}}">Supprimer l'évènement</button>
                        {{/if}}
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="Modal{{id}}" tabindex="-1" aria-labelledby="fenetre modale" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 text-center" id="modal-delete" aria-label="Fenêtre modale de suppression d'évènement">Supprimer évènement</h1>
                        </div>
                        <div class="modal-body">
                            Êtes-vous sûr de vouloir supprimer l'évènement :<em>{{event_name}}</em>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Fermer">Fermer</button>
                            <form action="/event/delete/{{id}}" method="post">
                                <button type="submit" class="btn btn-danger" aria-label="Supprimer définitivement l'évènement {{event_name}}">Supprimer définitivement</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            {{else}}
            <p class="text-center">Aucun événement trouvé.</p>
            {{/if}}
        </div>
    </div>
</main>