<main>
    <div class="container-fluid">
        <div class="row flex-row d-flex justify-content-center">
            <div class="col-8 col-lg-8 col-md-10 mx-auto mt-5 mb-2">
                <div class="card border-0">
                    <img src="{{#if event.event_image }} {{event.event_image}} {{else}} /images/eventNotFound.png {{/if}}"
                        class="card-img-top imgCover" alt="Image de l'évènement" />
                    <div class="card-header">
                        <small>
                            <div class="rounded-pill badge text-bg-primary ms-2">
                                <i class="bi bi-file-earmark-plus fs-5"></i>
                                <span class="fs-5" aria-label='Créé le {{formatDateTime event.createdAt "DD/MM/YYYY HH:mm"}}'>
                                    Créé le {{formatDateTime event.createdAt "DD/MM/YYYY HH:mm"}}
                                </span>
                            </div>
                        </small>
                        <small>
                            <div class="panel-body m-2 row text-center">
                                <h1 class="card-title mt-1 fw-semibold  text-center mb-4">{{ event.event_name }}
                                </h1>
                                <div class="col-12 mx-auto text-break text-center" aria-describedby="event-description">
                                    {{event.event_description}}
                                </div>
                            </div>
                            <div class="panel-body m-2 row text-center">
                                <div class="col-12 mx-auto text-break">
                                    <p class="card-text fw-semibold fs-5">
                                        <em>le {{formatDate event.event_date "DD/MM/YYYY"}} à {{formatTime
                                            event.event_time "HH:mm"}} à {{event.city}}</em>
                                    </p>
                                    <p>Places disponibles :
                                        <span class="fs-5 text-danger fw-bold">{{availablePlaces}}</span> /
                                        <span class="fs-5">{{ event.available_place }}</span>
                                        {{#if message}}
                                    <div class="alert alert-info">{{message}}</div>
                                    {{/if}}
                                    {{#if error}}
                                    <div class="alert alert-danger">{{error}}</div>
                                    {{/if}}
                                    </p>

                                </div>
                            </div>
                            {{#if firstname}}
                            <div class="text-center">
                                <form action="/event/{{event.id}}/register" method="post">
                                    <button type="submit" class="btn rounded-pill btn-outline-success"
                                        aria-label="S'inscrire">S'inscrire</button>
                                </form>
                            </div>
                            {{/if}}
                            <a href="/event/list" class="badge rounded-pill text-bg-primary fs-5"
                                aria-label="Lien de retour">Retour</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>